html {
    scroll-behavior: smooth;
  }
  
body {
    font-size: 18px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#head {
    background: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 4rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 10%;
}

.nav .nav-btn {
    padding: 1rem 4rem;
    background: #fff;
    border-radius: 30px;
    border: 0;
    box-shadow: 4px 2px 4px 2px rgba(128, 128, 128, 0.363);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.479);
}

@media (max-width: 720px) {

    #head {
        padding: 2rem;
    }
    .nav .nav-btn {
        padding: 0.6rem 2rem;
    }

    .logo {
        height: 5%;
        width: 40%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}

.item {
    flex: 50%;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: capitalize;
    width: 80%;
}

.sub-heading {
    font-weight: 400;
    line-height: 1.5;
    width: 90%;
}

.hero-btn {
    padding: 1.2rem 4rem;
    margin: 1rem auto;
    background: hsl(322, 100%, 66%);
    border-radius: 30px;
    border: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.hero-btn:hover {
    background: hsla(322, 100%, 66%, 0.644);
}

.hero-btn:active {
    background: hsla(322, 100%, 66%, 0.644);
}

.banner-img {
    width: 100%;
}

@media (max-width: 970px) {
    .container {
        flex-direction: column;
    }

    .item {
        padding: 1rem;
        flex: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
        color:hsl(192, 100%, 9%)
    }

    .sub-heading {
        margin: 0 auto;
        text-align: center;
        width: 90%;
        color:hsl(192, 100%, 9%)

    }
}


#middle {
    margin: 10% auto;
}

.flex-container {
    margin: 3% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.089);
}

.flex-container .flex-item {
    flex: 40%;
    padding: 3rem;
}

.flex-item .flex-head {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flex-item .flex-sub {
    line-height: 1.5;
}

.rev {
    flex-direction: row-reverse;
}


.flex-item img {
    width: 100%;
}

@media (max-width: 790px) {
    .flex-container {
        margin: 5% 7%;
        flex-direction: column-reverse;
    }

    .flex-container .flex-item {
        flex: 100%;
        padding: 1rem;
        text-align: center;
    }

    #middle {
        margin: 10% auto 40% auto;
    }
}


.flexbox {
    box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 1.7rem;
    position: absolute;
    top: -30%;
    left: 25%;
    transform: translate(-50, -50);
}

.flexbox .heading {
    width: auto;
    text-align: center;
}

.fbtn {
    margin: 0;
}

#footer {
    box-sizing: border-box;
    position: relative;
    margin-top: 25%;
    background: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10rem;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-align: left;
    color: hsl(193, 100%, 96%)
    ;
}

.flogo {
    width: 40%;
    padding-bottom: 2.5rem;
}

.ft {
    width: 40%;
    color: #fff;
}

.ft span {
    display: block;
    margin: 0.5rem 0;
}

.ft i {
    margin-right: 5px;
}

.footer-item a {
    margin: 0.5rem 0;
    text-decoration: none;
    color: #fff;
}

.fblock {
    display: inline-block;
    color: #fff;
}

.fblock i {
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.copyright {
    font-size: 14px;
    margin-top: 210px;
}

.flex-sub {
    color: hsl(208, 11%, 55%)
}

.flex-head {
    color:hsl(192, 100%, 9%)
}

@media (max-width: 880px) {

    #footer {
        flex-direction: column;
        padding-left: 2rem;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        text-align: left;
        padding: 1rem;
    }

    .ft {
        width: 100%;
        color: #fff;
    }

    .flogo {
        width: 40%;
    }

    .flexbox {
        background: #fff;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        position: absolute;
        top: -10%;
        left: 10%;
        transform: translate(-50, -50);
    }

    .flexbox .heading {
        font-size: 2rem;
    }

    .fblock {
        padding: 1rem;
    }
    .copyright {
        font-size: 14px;
        margin-top: 80px;
    }
}

@media (max-width: 660px) {
    .flexbox {
        background: #fff;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        position: absolute;
        top: -15%;
        left: 10%;
        transform: translate(-50, -50);
    }

    .flexbox .heading {
        font-size: 2rem;
    }

    .fbtn {
        margin: 0.5rem;
        padding: 1rem 3rem;
    }

    .copyright {
        font-size: 14px;
        margin-top: 80px;
    }
}

